name: Build, Test, and run Static Code Analysis

on:
  push:
    branches:
      - develop
      - master
  pull_request:

jobs:
  build:
    name: Build / Test / Static Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Engine
        uses: actions/checkout@v2
        with:
          repository: MovingBlocks/Terasology
          ref: develop
      - uses: actions/cache@v1
        name: Restore gradle cache
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.OS }}-gradle-${{ env.cache-name }}-
            ${{ runner.OS }}-gradle-
            ${{ runner.OS }}-
      - uses: actions/cache@v1
        name: Restore gradle wrapper
        with:
          path: ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}
      - name: Checkout Module
        uses: actions/checkout@v2
        with:
          path: modules/${{ github.event.repository.name }}
          clean: true
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: Copy build.gradle
        run: cp ./templates/build.gradle modules/${{ github.event.repository.name }}/build.gradle
      - name: Build module JAR
        run: ./gradlew :modules:${{ github.event.repository.name }}:jar
      - name: Tests
        run: ./gradlew :modules:${{ github.event.repository.name }}:test --console=plain
      - name: check-run-reporter
        uses: check-run-reporter/action@extra-logging
        env:
          CHECK_RUN_REPORTER_ROOT: 'modules/${{ github.event.repository.name }}'
          CHECK_RUN_REPORTER_LABEL: 'Unit Tests'
          CHECK_RUN_REPORTER_REPORT: 'modules/${{ github.event.repository.name }}/build/test-results/test/*.xml'
          CHECK_RUN_REPORTER_TOKEN: ${{ secrets.CHECK_RUN_REPORTER_TOKEN }}
      - name: Static Code Analysis
        run: ./gradlew :modules:${{ github.event.repository.name }}:check --exclude-task test
        continue-on-error: true
